In [8]:
# Importing the libraries 

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

# Import psql to run queries

In [9]:
# Load the Credit Card data

DPData = pd.read_csv(r"C:\ml\diamonds.csv",header=0)

# Copy to back-up file

DPData_bk = DPData.copy()

# Display first 5 values

DPData.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [10]:
# display the HS data information

DPData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [11]:
del DPData[ 'Unnamed: 0']

In [12]:
DPData.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [13]:
for i in DPData.columns:
    print(DPData[i].value_counts())

0.30    2604
0.31    2249
1.01    2242
0.70    1981
0.32    1840
        ...
3.02       1
3.65       1
3.50       1
3.22       1
3.11       1
Name: carat, Length: 273, dtype: int64
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64
G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: color, dtype: int64
SI1     13065
VS2     12258
SI2      9194
VS1      8171
VVS2     5066
VVS1     3655
IF       1790
I1        741
Name: clarity, dtype: int64
62.0    2239
61.9    2163
61.8    2077
62.2    2039
62.1    2020
        ...
71.3       1
44.0       1
53.0       1
53.1       1
54.7       1
Name: depth, Length: 184, dtype: int64
56.0    9881
57.0    9724
58.0    8369
59.0    6572
55.0    6268
        ...
51.6       1
63.5       1
43.0       1
62.4       1
61.6       1
Name: table, Length: 127, dtype: int64
605      132
802      127
625      126
828      125
776      124
        ...
8816       1
14704      1
14699      1
14698      1
9793       1
Name: price, Length: 11602, dtype: int64
4.37     448
4.34     437
4.33     429
4.38     428
4.32     425
        ...
10.74      1
9.36       1
8.89       1
10.23      1
10.00      1
Name: x, Length: 554, dtype: int64
4.34     437
4.37     435
4.35     425
4.33     421
4.32     414
        ...
8.89       1
10.16      1
9.46       1
9.63       1
31.80      1
Name: y, Length: 552, dtype: int64
2.70     767
2.69     748
2.71     738
2.68     730
2.72     697
        ...
5.79       1
5.72       1
5.91       1
5.61       1
31.80      1
Name: z, Length: 375, dtype: int64

In [14]:
# Use LabelEncoder to handle categorical data
import sklearn
from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()
DPData['color'] = LE.fit_transform(DPData[['color']])
DPData['clarity'] = LE.fit_transform(DPData[['clarity']])
DPData['cut'] = LE.fit_transform(DPData[['cut']])
DPData['color'] = DPData['color'].astype(int)
DPData['clarity'] = DPData['clarity'].astype(int)

In [15]:
cols1=['carat','depth','table','x','y','z','price']

In [16]:
DPData.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
0   0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
1   0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
2   0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
3   0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
4   0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75

In [17]:
# Identify the independent and Target (dependent) variables

IndepVar = []
for col in DPData.columns:
    if col != 'price':
        IndepVar.append(col)

TargetVar = 'price'

x = DPData[IndepVar]
y = DPData[TargetVar]

In [18]:
x

       carat  cut  color  clarity  depth  table     x     y     z
0       0.23    2      1        3   61.5   55.0  3.95  3.98  2.43
1       0.21    3      1        2   59.8   61.0  3.89  3.84  2.31
2       0.23    1      1        4   56.9   65.0  4.05  4.07  2.31
3       0.29    3      5        5   62.4   58.0  4.20  4.23  2.63
4       0.31    1      6        3   63.3   58.0  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...   ...   ...   ...
53935   0.72    2      0        2   60.8   57.0  5.75  5.76  3.50
53936   0.72    1      0        2   63.1   55.0  5.69  5.75  3.61
53937   0.70    4      0        2   62.8   60.0  5.66  5.68  3.56
53938   0.86    3      4        3   61.0   58.0  6.15  6.12  3.74
53939   0.75    2      0        3   62.2   55.0  5.83  5.87  3.64

[53940 rows x 9 columns]

In [19]:
y

0         326
1         326
2         327
3         334
4         335
         ...
53935    2757
53936    2757
53937    2757
53938    2757
53939    2757
Name: price, Length: 53940, dtype: int64

In [20]:
# Split the data into train and test

from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [21]:
x_train

       carat  cut  color  clarity  depth  table     x     y     z
19497   1.21    2      4        7   61.3   57.0  6.92  6.87  4.23
31229   0.31    2      1        5   62.0   56.0  4.38  4.36  2.71
22311   1.21    2      1        4   62.4   57.0  6.75  6.83  4.24
278     0.81    2      2        3   62.6   55.0  5.92  5.96  3.72
6646    0.79    2      5        7   61.7   56.0  5.94  5.95  3.67
...      ...  ...    ...      ...    ...    ...   ...   ...   ...
11284   1.05    4      5        5   62.4   59.0  6.48  6.51  4.05
44732   0.47    2      0        4   61.0   55.0  5.03  5.01  3.06
38158   0.33    4      2        1   60.3   58.0  4.49  4.46  2.70
860     0.90    3      6        2   62.8   59.0  6.13  6.03  3.82
15795   1.14    3      2        2   60.4   58.0  6.82  6.79  4.11

[37758 rows x 9 columns]

In [22]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_x_train = pd.DataFrame(scaler.fit_transform(x_train),columns = x_train.columns)
normalized_x_train.head()

,carat,cut,color,clarity,depth,table,x,y,z
0,0.209979,0.5,0.666667,1.000000,0.508333,0.269231,0.644320,0.116638,0.133019
1,0.022869,0.5,0.166667,0.714286,0.527778,0.250000,0.407821,0.074024,0.085220
2,0.209979,0.5,0.166667,0.571429,0.538889,0.269231,0.628492,0.115959,0.133333
3,0.126819,0.5,0.333333,0.428571,0.544444,0.230769,0.551210,0.101188,0.116981
4,0.122661,0.5,0.833333,1.000000,0.519444,0.250000,0.553073,0.101019,0.115409

In [23]:
normalized_x_test = pd.DataFrame(scaler.transform(x_test),columns = x_test.columns)

In [24]:
# Build the Regression / Regressor models

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
import xgboost as xgb
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import ExtraTreesRegressor

from sklearn.ensemble import GradientBoostingRegressor

# Create objects of Regression / Regressor models with default hyper-parameters

modelmlg = LinearRegression()
modeldcr = DecisionTreeRegressor()
modelrfr = RandomForestRegressor()
modelSVR = SVR()
modelXGR = xgb.XGBRegressor()
modelKNN = KNeighborsRegressor(n_neighbors=5)
modelETR = ExtraTreesRegressor()

modelGBR = GradientBoostingRegressor()

# Evalution matrix for all the algorithms

MM = [modelmlg, modeldcr, modelrfr, modelSVR, modelXGR, modelKNN, modelETR, modelGBR]

for models in MM:
    
    # Fit the model with train data
    
    models.fit(x_train, y_train)
    
    # Predict the model with test data

    y_pred = models.predict(x_test)
    
    # Print the model name
    
    print('Model Name: ', models)
    
    # Evaluation metrics for Regression analysis

    from sklearn import metrics

    print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test, y_pred),3))  
    print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test, y_pred),3))  
    print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test, y_pred)),3))
    print('R2_score:', round(metrics.r2_score(y_test, y_pred),6))
    print('Root Mean Squared Log Error (RMSLE):', round(np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),3))
    
    # Define the function to calculate the MAPE - Mean Absolute Percentage Error

    def MAPE (y_test, y_pred):
        y_test, y_pred = np.array(y_test), np.array(y_pred)
        return np.mean(np.abs((y_test - y_pred) / y_test)) * 100
    
    # Evaluation of MAPE 

    result = MAPE(y_test, y_pred)
    print('Mean Absolute Percentage Error (MAPE):', round(result, 2), '%')
    
    # Calculate Adjusted R squared values 

    r_squared = round(metrics.r2_score(y_test, y_pred),6)
    adjusted_r_squared = round(1 - (1-r_squared)*(len(y_test)-1)/(len(y_test)-x_test.shape[1]-1),6)
    print('Adj R Square: ', adjusted_r_squared)
    print('------------------------------------------------------------------------------------------------------------')
    #-------------------------------------------------------------------------------------------
    new_row = {'Model Name' : models,
               'Mean_Absolute_Error_MAE' : metrics.mean_absolute_error(y_test, y_pred),
               'Adj_R_Square' : adjusted_r_squared,
               'Root_Mean_Squared_Error_RMSE' : np.sqrt(metrics.mean_squared_error(y_test, y_pred)),
               'Mean_Absolute_Percentage_Error_MAPE' : result,
               'Mean_Squared_Error_MSE' : metrics.mean_squared_error(y_test, y_pred),
               'Root_Mean_Squared_Log_Error_RMSLE': np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),
               'R2_score' : metrics.r2_score(y_test, y_pred)}
    
    #-------------------------------------------------------------------------------------------

Model Name:  LinearRegression()
Mean Absolute Error (MAE): 856.408
Mean Squared Error (MSE): 1772260.321
Root Mean Squared Error (RMSE): 1331.263
R2_score: 0.886364
Root Mean Squared Log Error (RMSLE): 7.194
Mean Absolute Percentage Error (MAPE): 38.85 %
Adj R Square:  0.886301
------------------------------------------------------------------------------------------------------------
Model Name:  DecisionTreeRegressor()
Mean Absolute Error (MAE): 360.782
Mean Squared Error (MSE): 532855.183
Root Mean Squared Error (RMSE): 729.969
R2_score: 0.965834
Root Mean Squared Log Error (RMSLE): 6.593
Mean Absolute Percentage Error (MAPE): 8.7 %
Adj R Square:  0.965815
------------------------------------------------------------------------------------------------------------
Model Name:  RandomForestRegressor()
Mean Absolute Error (MAE): 270.413
Mean Squared Error (MSE): 294451.758
Root Mean Squared Error (RMSE): 542.634
R2_score: 0.98112
Root Mean Squared Log Error (RMSLE): 6.296
Mean Absolute Percentage Error (MAPE): 6.58 %
Adj R Square:  0.981109
------------------------------------------------------------------------------------------------------------
Model Name:  SVR()
Mean Absolute Error (MAE): 2733.569
Mean Squared Error (MSE): 17482676.946
Root Mean Squared Error (RMSE): 4181.229
R2_score: -0.120974
Root Mean Squared Log Error (RMSLE): 8.338
Mean Absolute Percentage Error (MAPE): 108.0 %
Adj R Square:  -0.121598
------------------------------------------------------------------------------------------------------------
Model Name:  XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)
Mean Absolute Error (MAE): 275.287
Mean Squared Error (MSE): 288165.442
Root Mean Squared Error (RMSE): 536.81
R2_score: 0.981523
Root Mean Squared Log Error (RMSLE): 6.286
Mean Absolute Percentage Error (MAPE): 7.22 %
Adj R Square:  0.981513
------------------------------------------------------------------------------------------------------------
Model Name:  KNeighborsRegressor()
Mean Absolute Error (MAE): 489.313
Mean Squared Error (MSE): 837882.42
Root Mean Squared Error (RMSE): 915.359
R2_score: 0.946276
Root Mean Squared Log Error (RMSLE): 6.819
Mean Absolute Percentage Error (MAPE): 14.03 %
Adj R Square:  0.946246
------------------------------------------------------------------------------------------------------------
Model Name:  ExtraTreesRegressor()
Mean Absolute Error (MAE): 266.535
Mean Squared Error (MSE): 295114.513
Root Mean Squared Error (RMSE): 543.244
R2_score: 0.981078
Root Mean Squared Log Error (RMSLE): 6.298
Mean Absolute Percentage Error (MAPE): 6.6 %
Adj R Square:  0.981067
------------------------------------------------------------------------------------------------------------
Model Name:  GradientBoostingRegressor()
Mean Absolute Error (MAE): 361.096
Mean Squared Error (MSE): 432829.989
Root Mean Squared Error (RMSE): 657.898
R2_score: 0.972247
Root Mean Squared Log Error (RMSLE): 6.489
Mean Absolute Percentage Error (MAPE): 11.56 %
Adj R Square:  0.972232
------------------------------------------------------------------------------------------------------------

In [25]:
import pickle
pickle.dump(modelrfr,open('model.pkl','wb'))